.add-button{
  display: flex;
  margin: 0 auto;
}
.items-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-action-container{
  display: flex;
  justify-content: space-around;
}