.registration-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
.registration-container h3 {
  margin: 0 auto;
  text-align: center;
}
.button-container {
  margin: 0 auto;
  text-align: center;
}
